<!DOCTYPE html>
<html lang="ko">
	<head>
		<title>ModooumEdu - 강좌 만들기</title>
	</head>
	<body>
		<div class="d-flex flex-column">
			<div
				class="row row-cols-1 row-cols-md-3 g-4 bg-body-secondary rounded-4 position-static m-3 p-3 shadow"
			>
				<div class="col">
					<div class="card mb-4 rounded-3 shadow-sm h-100">
						<div class="card-header py-3">
							<h4 class="my-0 fw-normal">기본 사용자</h4>
						</div>
						<div class="card-body">
							<h3 class="card-title pricing-card-title">
								아무것도 인증되지 않은 기본 사용자입니다
							</h3>
							<ul class="list-unstyled mt-3 mb-4">
								<li>1개의 강좌 업로드</li>
								<li class="text-secondary text-decoration-line-through">
									질답게시판, 과제, 시험 기능
								</li>
								<li class="text-secondary text-decoration-line-through">
									인증마크
								</li>
								<li class="text-secondary text-decoration-line-through">
									클래스 제작
								</li>
								<li class="text-secondary text-decoration-line-through">
									유료강좌 업로드
								</li>
							</ul>
						</div>
						<div class="card-footer">
							<button type="button" class="w-100 btn btn-lg btn-primary">
								바로 시작하기
							</button>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card mb-4 rounded-3 shadow-sm h-100">
						<div class="card-header py-3">
							<h4 class="my-0 fw-normal">인증된 사용자</h4>
						</div>
						<div class="card-body">
							<h3 class="card-title pricing-card-title">
								ModooumEdu가 인정한 인증된 사용자입니다
							</h3>
							<ul class="list-unstyled mt-3 mb-4">
								<li>무제한 강좌 업로드</li>
								<li>질답게시판, 과제, 시험 기능</li>
								<li>파란색 인증마크</li>
								<li>3개의 클래스 제작 가능</li>
								<li>유료 강좌 업로드 가능(수수료: 15%)</li>
							</ul>
						</div>
						<div class="card-footer">
							<button type="button" class="w-100 btn btn-lg btn-primary">
								인증 받으러 가기
							</button>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card mb-4 rounded-3 shadow-sm border-primary h-100">
						<div class="card-header py-3 text-bg-primary">
							<h4 class="my-0 fw-normal">공식 선생님</h4>
						</div>
						<div class="card-body">
							<h3 class="card-title pricing-card-title">
								ModooumEdu가 채용한 공식 선생님입니다
							</h3>
							<ul class="list-unstyled mt-3 mb-4">
								<li>무제한 강좌 업로드</li>
								<li>질답게시판, 과제, 시험 기능</li>
								<li>노란색 인증마크</li>
								<li>무제한 클래스 제작 가능</li>
								<li>유료 강좌 업로드 가능(수수료: 5%)</li>
							</ul>
						</div>
						<div class="card-footer">
							<button type="button" class="w-100 btn btn-lg btn-outline-primary" disabled>
								현재 선생님 채용 기간이 아닙니다
							</button>
						</div>
					</div>
				</div>
			</div>
			<small class="mx-auto text-secondary">자세한 내용은 관리자에게 문의해보세요</small>
		</div>
	</body>
</html>