<div class="alert alert-danger d-none" role="alert" id="alert">
	경고창
</div>
<script>
	$(document).ready(function () {
		firebase
			.auth()
			.signOut()
			.then(() => {
				location.href = '/';
			})
			.catch((error) => {
				$('#alert').removeClass('d-none')
				document.querySelector('#alert').innerHTML = error.message
			});
	});
</script>